---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
  {% include head.html %}
  <body>
    {% include sidebar.html %}
    <div id="main-wrapper" class="d-flex justify-content-center">
      <div id="main" class="container px-xxl-5">
        {% include topbar.html %}
        {{ content }}
      </div>
      {% include panel.html %}
    </div>
    {% include footer.html %}
    <div id="mask"></div>
    <a id="back-to-top" href="#" aria-label="back-to-top" role="button" class="btn btn-lg btn-box-shadow">
      <i class="fas fa-angle-up"></i>
    </a>
    {% include search-loader.html %}
    {% include js-selector.html %}
  </body>
</html>
